<h1 class="primary-h1 text-center">Our Story</h1>
<h2 class="text-center inline-grid">As we know, students and faculty have hectic schedules and need something to structure their coursework. Our app helps faculty simply create courses that allows students to view them in an organized and neat way. We were built on the idea that academia is the foundation and it's never too late to stay organized.</h2>

<h1 class="primary-h1 text-center">Our Creators</h1>

<div class="flex flex-col items-center space-y-9">
  <div class="card w-4/5">
    <div class="card-body inline-grid grid-cols-2 gap-4">
      <!-- Upper Left Card -->
      <div class="card-actions justify-start">
        <div class="card w-96 h-48 bg-base-100 shadow-2xl">
          <div class="card-body">
            <h2 class="card-title">Jasen Castillo</h2>
            <a href="https://github.com/castillojasen/cpsc349-project2" class="link link-info">Github Link</a>
          </div>
        </div>
      <!-- Lower Left Card -->
        <div class="card w-96 h-48 bg-base-100 shadow-2xl">
          <div class="card-body">
            <h2 class="card-title">Jose Gutierrez</h2>
          </div>
        </div>
      </div>
      <!-- Upper Right Card -->
      <div class="card-actions justify-end">
        <div class="card w-96 h-48 bg-base-100 shadow-2xl">
          <div class="card-body">
            <h2 class="card-title">Pedro Morales (Main Repository)</h2>
            <a href="https://github.com/pedromorales451/cpsc349-project2" class="link link-info">Github Link</a>
          </div>
        </div>
        <!-- Lower Right Card-->
        <div class="card w-96 h-48 bg-base-100 shadow-2xl">
          <div class="card-body">
            <h2 class="card-title">Umar Nasir</h2>
            <a href="https://github.com/umarnasir335/cpsc349-project2" class="link link-info">Github Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
