  <div 
    class="text-5xl text-center pt-12 pb-7 ml-20 mr-20 mt-4 font-medium"
    object
    key:board-heading="@innerText"
    default:board-heading="My School Planner"
    edit:board-heading:without-remove
  >{{boardHeading}}</div>
<div class="flex justify-center mt-4 mb-2">
<button 
    class="primary-btn text-base my-4"
    new:stack
  >Add Subject</button>
</div>
<div class=".flex-grow">
  <div 
    class="flex flex-col items-center space-y-9"
    array
    key="stacks"
    sortable="stacks"
  >
    {{#for stack in stacks}}
      <div 
        class="relative card w-3/5 bg-base-100 shadow-2xl bg-blue-50 p-4"
        object
        key:stack-heading="@search"
        default:stack-heading="A Project"
      >
        <div>
          <p 
            class="card-title text-4xl"
            target:stack-heading="@innerText"
            edit:stack-heading
          >{{default stack.stackHeading "New Subject"}}</p>
          <button 
            class="primary-btn p-1 font-bold ml-2 mt-2 absolute top-4 right-4 "
            new:card
          >New card
          </button>
        </div>
        <div 
          class="mt-4"
          key="cards"
          array
          sortable="cards"
        >
          {{#for card in stack.cards}}
            <div 
              class="text-2xl pt-2 pb-1 font-medium mb-4"
              object
              key:card-text="@search"
              edit:card-text
            >
              <p 
                class=""
                target:card-text="@innerText"
              >{{default card.cardText "New card item"}}</p>
              
            </div>
          {{/for}}
        </div>
        
        </div>
      </div>
    {{/for}}
  </div>
</div>