<div class="flex justify-center border-solid rounded-md border-2 border-green-700 border-8 text-4xl pt-12 pb-7 ml-20 mr-20 mt-4 font-medium">
  <div 
    class="text-5xl"
    object
    key:board-heading="@innerText"
    default:board-heading="My Projects"
    edit:board-heading:without-remove
  >{{boardHeading}}</div>
</div>
<div class="flex justify-center mt-4 mb-2">
<button 
    class="bg-blue-400 text-white p-2 hover:bg-red-400 font-bold rounded"
    new:stack
  >Add Subject</button>
</div>
<div class=".flex-grow">
  <div 
    class="border-solid border-2 border-gray-700 border-8 text-4xl pt-4 pb-7 font-medium"
    array
    key="stacks"
    sortable="stacks"
  >
    {{#for stack in stacks}}
      <div 
        class="border-solid border-2 border-gray-400 border-8 text-4xl pt-2 pb-4 font-medium"
        object
        key:stack-heading="@search"
        default:stack-heading="A Project"
      >
        <div class="">
          <p 
            class="border-solid border-2 border-red-400 border-8 text-4xl pt-8 pb-7 font-medium"
            target:stack-heading="@innerText"
            edit:stack-heading
          >{{default stack.stackHeading "New Subject"}}</p>
          <button 
            class="bg-blue-400 text-white p-1 hover:bg-red-400 font-bold rounded ml-2 mt-2"
            new:card
          >New card
          </button>
        </div>
        <div 
          class="border-solid border-2 border-yellow-400"
          key="cards"
          array
          sortable="cards"
        >
          {{#for card in stack.cards}}
            <div 
              class="border-solid border-2 border-gray-700 border-8 text-2xl pt-2 pb-1 font-medium"
              object
              key:card-text="@search"
              edit:card-text
            >
              <p 
                class=""
                target:card-text="@innerText"
              >{{default card.cardText "New card item"}}</p>
              
            </div>
          {{/for}}
        </div>
        
        </div>
      </div>
    {{/for}}
  </div>
</div>
