<h1 class="text-7xl font-black text-blue-800 text-center items-center pt-48 pb-36">Create Your Own Course Page</h1>

<div class="flex flex-none justify-center">
  <ul>
    {{#if currentUser}}
      <li><a class="primary-btn text-2xl" href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
      
    {{else}}
      <li><a class="primary-btn text-2xl" href="/user/signup">Get Started</a></li>
    {{/if}}
  </ul>
</div>