<h1 class="text-7xl font-black text-blue-800 text-center items-center pt-48 pb-36">Create Your Own Academic Planner</h1>
<h2 class="text-2xl font-black text-center">Lets Get Organized!! 
<br>
 Getting Started is Quick and Easy <br> Create To-Do Lists <br> Organize by Class <br> Simply Register and Start Organizing</h2>
<img src = "assets/images/UpdatedMain.png" alt="Main Page example" class="center" width="400" height="600">

<div class="flex flex-none justify-center">
  <ul>
    {{#if currentUser}}
      <li><a class="primary-btn text-2xl" href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
      
    {{else}}
      <li><a class="primary-btn text-2xl" href="/user/signup">Get Started</a></li>
    {{/if}}
  </ul>
</div>
