<form action="/user/forgot" method="post" class="flex flex-col items-center">
  <h1 class="primary-h1">Forgot Password</h1>
  <input class="primary-text-input" type="text" name="username" placeholder="Your username" required>
  <button class="primary-btn text-base mt-6" type="submit">Send reset password link</button>
</form>
