<form action="" method="post" class="flex flex-col items-center">
  <h1 class="primary-h1">Set a New Password</h1>
  <input class="primary-text-input" type="password" name="password" placeholder="New password" required>
  <button class="primary-btn text-lg mt-6" type="submit">Set Password</button>
</form>