<form action="/user/signup" method="post" class="flex flex-col items-center">
  <h1 class="primary-h1">Sign Up</h1>
  <input class="primary-text-input" type="text" name="username" placeholder="Username" required>
  <input class="primary-text-input" type="email" name="email" placeholder="Email" required>
  <input class="primary-text-input" type="password" name="password" placeholder="Password" required>
  <button class="primary-btn text-xl mt-4 px-12" type="submit">Sign Up</button>
</form>
